form > div {
    position: relative;
    margin: 20px;
}

label {
    color: #060666;
    font-size: 1em;
    position: absolute;
    height: calc(1.2em + 21px);
    padding: 0 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 2;

    svg {
        height: 22px;
    }
}

input[type="text"], input[type="password"], input[type='email'] {
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #dddddd;
    padding: 10px;
    padding-left: 50px;
    position: relative;
    font-size: 1.2em;
}

button, .button {
    font-family: 'Typori-Regular';
    font-size: 0.9em;
    border-radius: 12px;
    text-transform: uppercase;
    position: relative;
    padding: 10px 20px 10px 50px;
    line-height: auto;

    &:hover {
        cursor: pointer;
    }

    svg {
        position: absolute;
        height: 1.1rem;
        padding: 0 16px;
        top: 9px;
        display: block;
    }
}

button.main, .button.main {
    background-color: #C3494E;
    border: 0;
    color: #fff;

    &:hover {
        background-color: #9B3A3E;
    }
}

button.alt, .button.alt {
    background-color: #fff;
    border: 1px solid #C3494E;
    color: #C3494E;

    &:hover {
        background-color: #f5f5f5;
    }
}